_site/
_podklady/html/pirati.cz/

.sass-cache/
.jekyll-metadata

Gemfile.lock
desktop.ini
package-lock.json

#Files needed for local Jekyll instance
.bundle/
vendor/

#Local operating system files
.directory
