<div class="o-section-block">
    <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
      <li class="c-widget-accordion-item is-active" data-accordion-item="">
        <a href="#" class="c-widget-accordion-link c-widget-accordion-link--nofill">
          <span class="c-widget-accordion__title">Naši lídři</span>
        </a>
        <div class="c-widget-accordion-content" data-tab-content="">
            {% assign persons = site.people | where:"category","leader" | sample:4 | sort:'ordleaders' %}
            {% for person in persons %}
              {% include people/profile-badge.html item=person style='card' showContactInfo=false class='c-profile-badge--stacked c-profile-badge--bottomalign' headlineClass='t-h6-super' %}
            {% endfor %}
        </div>
      </li>
    </ul>
</div>
