<div class='thetop'></div>
<div class="c-top-bar">
  <div class="row">
    <div class="c-top-bar-inner u-cf">
      <div class="top-bar-title">
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/img/brand/logoostrava.svg' | relative_url }}" alt="Pirátská strana">
        </a>
      </div>
      <div class="menu-toggle-container hide-for-large">
        <span data-responsive-toggle="responsive-menu" id="menuTogge" data-hide-for="large">
          <button class="" type="button" data-toggle="">
            <span class="menu-toggle-inner">
              <span class="menu-toggle-description">Menu</span>
              <i class="menu-icon dark"></i>
            </span>
          </button>
        </span>
      </div>
      <div id="responsive-menu" class="c-top-bar-menu">
        <div class="responsive-menu-inner">
          <div class="top-bar-left top-bar-footer-group">
            <ul class="dropdown menu" data-dropdown-menu="">
              <li {% if page.url contains 'aktuality' %} class="is-active"{% endif %}>
                <a href="{{'/aktuality/' | relative_url }}">Aktuality</a>
              </li>
              <li{% if page.url contains 'lide' %} class="is-active"{% endif %}>
                <a href="{{ '/lide/' | relative_url }}">Naši lidé</a>
              </li>
              <li{% if page.url contains 'volby' %} class="is-active"{% endif %}>
                <a href="{{ '/volby/kde-kandidujeme.html' | relative_url }}">Volby</a>
              </li>
              <li{% if page.url contains 'pripoj-se' %} class="is-active"{% endif %}>
                <a href="{{ '/pripoj-se/' | relative_url }}">Připoj se</a>
              </li>
              <li{% if page.url contains 'kontakt' %} class="is-active"{% endif %}>
                <a href="{{ '/kontakt/' | relative_url }}">Kontakt</a>
              </li>
              <li>
                <a href="https://moravskoslezsky.pirati.cz" target="_blank"><strong>moravskoslezsky.pirati.cz</strong></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-top-bar-border"> </div>
