{% if page.url contains 'volby' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> Volby 2018 </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{'/volby/kde-kandidujeme.html' | relative_url }}"> Kde kandidujeme? </a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/volby/obecny-program.html' | relative_url }}"> Obecný program </a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/volby/senat.html' | relative_url }}"> Senát </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endif %}
